/* Lesson 2.2 Range */

#res222 {
    height: 20px;
    width: 20px;
    background: yellow;
}

/* Lesson 3 CSS generator */

#res31 {
    width: 200px;
    height: 100px;
    background: green;
}

.txt31 {
    width: 30px;
}

/* Lesson 4 (Not completed) */

#nav41 {
    background: yellow;
    width: 500px;
}

.menu41 {
    border: 2px solid blue;
    display: inline-block;
    height: 20px;
    width: 140px;
    bottom: 30%;
    cursor: pointer;
    background: green;
    vertical-align: top;
}

.menu41 .submenu41 {
    display: none;
    position: relative;
    height: 20px;
    width: 140px;
    background: blue;
    cursor: pointer;
}


/* Lesson 5.1 Tabs */

#tabs51 .tabHead51 {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 5;
    background: lightgray;
    border-radius: 5px 5px 0 0;

}

#tabs51 .tabHeadShow51 {
    background: lightblue;
}

#tabs51 .tabContent51 {
    width: 200px;
    height: 50px;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
    background: lightblue;
    display: none;
}

#tabs51 .tabContentShow51 {
    display: block;
}


/* Lesson 6 Modal Window */

#modal6 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#modalContentl6 {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20% 5%;
    padding: 10px;
    background-color: gray;
}

#close6 {
    cursor: default;
    color: rgb(232, 229, 229);
    float: right;
    font-size: 20px;
    font-weight: bold;

}

/* Lesson 7 Annimation */

#container7 {
    position: relative;
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    background-color: yellow;
}

#ball7 {
    position: absolute;
    width: 20px;
    height: 20px;
    /* border: 1px solid black; */
    background-color: red;
}

/* Lesson 8 Slider */

#container8 {
    position: relative;
    width: 250px;
    height: 150px;
    background: yellow;
}

#container8 img {
    width: 100%;
    height: 100%;
}

.slideNumber8 {
    position: absolute;
    color: lightyellow;
    font-size: 10px;
    font-weight: bold;
    padding: 0 2px;
    right: 50%;
    /* background: red; */
    border-radius: 0 0 2px 2px;
    border: 1px solid;
    border-top: 0;
}

.slideText8 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: lightyellow;

    bottom: 0;

}

#prev8,
#next8 {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 0 2px;
    margin-top: -10.44px;
    transition: 0.5s ease;
    color: lightyellow;
    font-size: 16px;
    border-radius: 0 2px 2px 0;
    border: 1px solid lightyellow;
}

#prev8 {
    border-left: 0;
}

#next8 {
    border-right: 0;
    right: 0;
    border-radius: 2px 0 0 2px;
}

#prev8:hover,
#next8:hover {
    color: yellowgreen;
    background-color: lightyellow;
}

.fade8 {
    animation-name: fadeAnimation8;
    animation-duration: 0.5s;
}

@keyframes fadeAnimation8 {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

#dotContainer8{
    text-align: center;
}

.dot8 {
    display: inline-block;
    
    background: lightyellow;
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    border: 1px solid yellowgreen;
    border-radius: 50%;
    transition: 0.5s ease;
}

.dot8:hover {
    background: yellowgreen;
}

.dotActive8 {
    background: green;
    border-color: green;
}
