/* Lesson 2.2 Range */

#res222 {
    height: 20px;
    width: 20px;
    background: yellow;
}

/* Lesson 3 CSS generator */

#res31 {
    width: 200px;
    height: 100px;
    background: green;
}

.txt31 {
    width: 30px;
}

/* Lesson 4 (Not completed) */

#nav41 {
    background: yellow;
    width: 500px;
}

.menu41 {
    border: 2px solid blue;
    display: inline-block;
    height: 20px;
    width: 140px;
    bottom: 30%;
    cursor: pointer;
    background: green;
    vertical-align: top;
}

.menu41 .submenu41 {
    display: none;
    position: relative;
    height: 20px;
    width: 140px;
    background: blue;
    cursor: pointer;
}


/* Lesson 5.1 Tabs */

#tabs51 .tabHead51 {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index: 5;
    background: lightgray;
    border-radius: 5px 5px 0 0;

}

#tabs51 .tabHeadShow51 {
    background: lightblue;
}

#tabs51 .tabContent51 {
    width: 200px;
    height: 50px;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
    background: lightblue;
    display: none;
}

#tabs51 .tabContentShow51 {
    display: block;
}


/* Lesson 6 Modal Window */

#modal6 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#modalContentl6 {
    border: 2px solid black;
    border-radius: 10px;
    margin: 20% 5%;
    padding: 10px;
    background-color: gray;
}

#close6 {
    cursor: default;
    color: rgb(232, 229, 229);
    float: right;   
    font-size: 20px;
    font-weight: bold;

}

/* Lesson 7 Annimation */

#container7 {
    position: relative;
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    background-color: yellow;
}

#ball7 {
    position:absolute;
    width: 20px;
    height: 20px;
    /* border: 1px solid black; */
    background-color: red;
}